body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 69.6%;
  height: 219px;
  margin: 94px 0 0 15.19922%;
  border-radius: 20px;
  background-color: #3c3c3c;
}

.text {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 18.8%;
  min-height: 75px;
  margin: -131px 0 0 41%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  width: 12%;
  height: 47px;
  margin: 95px 0 0 78%;
  border-radius: 3px;
  background-color: rgb(100, 40, 40);
  font-family: Montserrat;
  font-size: 1em;
  text-align: center;
  color: rgb(216, 216, 216);
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Montserrat;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #f3eded;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}